@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #dba5a5;
  --text-color: #333;
  --grey-color: #f1f1f1;

  --inner-width: 1150px;
  --inner-padding: 60px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', serif;
  font-optical-sizing: auto;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

.text-center {
  text-align: center;
}
