// Vision
.vision {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  background-color: #f1f1f1;
}

.inner {
  width: 1150px;
  display: grid;
  grid-template-columns: repeat(12, calc(100% / 12));
}

.vision-intro {
  grid-column: 1/7;
}

.vision-desc {
  margin-top: 32px;
}

.vision-list {
  list-style: none;
  margin-top: 32px;
}

.vision-item {
  font-size: 1.6rem;
  padding: 6px 0;
  display: flex;
  align-items: center;
}

.vision-icon {
  color: #000;
  font-size: 2rem;
  margin-right: 12px;
}

.vision-text {
  line-height: 32px;
  display: inline-block;
}

.book-btn {
  margin-top: 32px;
}

.vision-img {
  width: 100%;
  grid-column: 8/-1;
  border-radius: 50%;
}
