// Dot Navigation
.dot-navigation {
  width: 100%;
  margin-top: 42px;
  display: flex;
  justify-content: center;
}

.dot-navigation.hidden {
  display: none;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: var(--primary);
}
