.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.column-span-2 {
  grid-column: span 2;
}

.calendar {
  grid-column: 9 / -1;
  grid-row: 1/4;
  border: 1px solid #eee;
  padding: 10px;
}

.patient-overview-by-age {
  grid-column: span 4;
  border: 1px solid #eee;
  padding: 20px 10px;
}

.revenue {
  grid-column: span 4;
  border: 1px solid #eee;
  padding: 15px 10px;
}

.summary-container {
  grid-column: 1/9;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}

.patient-overview-by-departments {
  border: 1px solid #eee;
  padding: 10px;
}

.doctor-schedule {
  border: 1px solid #eee;
  padding: 10px;
}

.report {
  border: 1px solid #eee;
  padding: 10px;
}

.appointments-list {
  grid-column: 1/9;
  border: 1px solid #eee;
  padding: 10px;
}

.recent-activity {
  grid-column: 9 / -1;
  border: 1px solid #eee;
  padding: 10px;
}

// Patient Overview by age
.section-header {
  display: flex;
  justify-content: space-between;
}

.section-heading {
  font-size: 1.8rem;
  color: #126f70;

  span {
    display: block;
    font-size: 1.2rem;
    color: #9c9999;
    font-weight: 500;
  }
}

.section-btn {
  padding: 0 10px;
  font-size: 1.4rem;
  max-height: 36px;
  background-color: rgba(36, 57, 86, 1);
  color: #ddd;
  border-radius: 8px;
}

.section-barchart {
  margin-top: 18px;
}

// Revenue
.revenue-btn-list {
  background-color: #ddd;
  border-radius: 12px;
}

.revenue-btn {
  min-width: 70px;
  padding: 8px 0;
  border-radius: 12px;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.7);
}

.revenue-btn.active {
  background-color: rgba(36, 57, 86, 1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #ddd;
}

.revenue-btn + .revenue-btn {
  margin: 0;
}
