.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.column-span-2 {
  grid-column: span 2;
}

.calendar {
  grid-column: 9 / -1;
  grid-row: 1/4;
  border: 1px solid #eee;
  padding: 10px;
}

.patient-overview-by-age {
  grid-column: span 4;
  border: 1px solid #eee;
  padding: 15px 10px;
}

.revenue {
  grid-column: span 4;
  border: 1px solid #eee;
  padding: 15px 10px;
}

.summary-container {
  grid-column: 1/9;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.patient-overview-by-departments {
  border: 1px solid #eee;
  padding: 15px 10px;
}

.doctor-schedule {
  border: 1px solid #eee;
  padding: 15px 10px;
}

.report {
  border: 1px solid #eee;
  padding: 10px;
}

.appointments-section {
  grid-column: 1/9;
  border: 1px solid #eee;
  padding: 20px 25px;
}

.recent-activity {
  grid-column: 9 / -1;
  border: 1px solid #eee;
  padding: 15px 10px;
}

// Patient Overview by age
.section-header {
  display: flex;
  justify-content: space-between;
}

.section-heading {
  font-size: 1.8rem;
  color: #126f70;

  span {
    display: block;
    font-size: 1.2rem;
    color: #9c9999;
    font-weight: 500;
  }
}

.section-btn {
  padding: 0 10px;
  font-size: 1.4rem;
  max-height: 36px;
  background-color: rgba(36, 57, 86, 1);
  color: #ddd;
  border-radius: 8px;
}

.section-body {
  margin-top: 18px;
}

// Revenue
.revenue-btn-list {
  background-color: #ddd;
  border-radius: 12px;
}

.revenue-btn {
  min-width: 70px;
  padding: 8px 0;
  border-radius: 12px;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.7);
}

.revenue-btn.active {
  background-color: rgba(36, 57, 86, 1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #ddd;
}

.revenue-btn + .revenue-btn {
  margin: 0;
}

// Doctors' Schedule
.doctors-list {
  list-style: none;
  margin-top: 0;
}

.doctors-item {
  padding: 20px 0;
  border-bottom: 1px solid #dfdddd;
}

.doctors-item:last-child {
  border-bottom: none;
}

.doctors-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.doctor-avatar {
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.doctor-info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8px;
}

.doctor-name {
  font-size: 1.5rem;
  color: #535252;
  font-weight: 500;

  span {
    display: block;
    font-size: 1.1rem;
    color: #646262;
    font-weight: 400;
  }
}

.doctor-status {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.status-time {
  font-size: 1.1rem;
  color: #646262;
  margin-top: 4px;
}

// Report
.report-list {
  list-style: none;
}

.report-item {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  background-color: rgb(245, 245, 245);
  border-radius: 12px;
  cursor: pointer;
}

.report-item + .report-item {
  margin-top: 18px;
}

.report-icon {
  font-size: 1.8rem;
  background-color: rgb(162, 243, 237);
  color: rgb(33, 57, 85);
  padding: 6px;
  border-radius: 3px;
}

.report-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 16px;
}

.report-heading {
  font-size: 1.5rem;
  font-weight: 500;
}

.report-time {
  display: block;
  font-size: 1.4rem;
  color: rgb(163, 163, 165);
  font-weight: 400;
}

.action-btn {
  color: rgb(166, 166, 169);
  font-size: 1.7rem;
  padding: 0 4px;
}

// Patient Appointment table
.appointments-view-btn {
  text-decoration: none;
  font-size: 1.4rem;
  color: rgb(166, 167, 166);
}
